.navbarcomponentview{
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 5px;
    max-height: 80px;
    background-color:#3f89ec;
}
.colnavcontainerrow{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 15%;
}

@media only screen and (max-width: 700px) {
    .colnavcontainerrow{
        width: 30%;
    }
}
@media only screen and (max-width: 370px) {
    .colnavcontainerrow{
        flex-direction: column;
    }
    .navbarcomponentview{
        height: 140px !important;
    }
}

.namesdivdentronavcol{
    display: flex;
    height: 100%;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 80%;
}

.cordenadortilete{
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
}
.cordenadortiletename{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}